# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Environment variables and secrets
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Python build files
build/
dist/
*.egg-info/